  .navbar {
      border-top: 1px dashed var(--primary);
      border-bottom: 3px solid var(--primary);
      justify-content: center;
      text-align: center;
      padding: 0;
      margin-top: 10px;
  }

  .navbar > .navbar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    border-radius: 5px;
  }
  .navbar > .navbar-list > .navbar-item {
    float: left;
    padding: 5px 10px;
    position: relative;
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition: 0.4s;
  }
  .navbar > .navbar-list > .navbar-item:hover{
    background: var(--hover);
  }
  .navbar > .navbar-list > .navbar-item:hover .item-title{
    color: white;
  }
  .drop-menu {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    padding: 0;
    z-index: 99;
  }
  .drop-menu .drop-menu-item:last-child {
    border-radius: 0px 0px 5px 5px;
  }
  .drop-menu .drop-menu-item {
    background-color: white;
    color: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid lightgray;
  }

  .drop-menu .drop-menu-item {
    display: none;
  }
  
  li:hover > .drop-menu .drop-menu-item {
    display: block;
  }
  
  li:hover > .drop-menu.menu-2 {
    perspective: 1000px;
  }
  li:hover > .drop-menu.menu-2 .drop-menu-item {
    opacity: 0;
    transform-origin: top center;
  }
  li:hover > .drop-menu.menu-2 .drop-menu-item:nth-child(1) {
    animation-name: menu2;
    animation-duration: 300ms;
    animation-delay: -170ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  li:hover > .drop-menu.menu-2 .drop-menu-item:nth-child(2) {
    animation-name: menu2;
    animation-duration: 300ms;
    animation-delay: -40ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  li:hover > .drop-menu.menu-2 .drop-menu-item:nth-child(3) {
    animation-name: menu2;
    animation-duration: 300ms;
    animation-delay: 90ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  li:hover > .drop-menu.menu-2 .drop-menu-item:nth-child(4) {
    animation-name: menu2;
    animation-duration: 300ms;
    animation-delay: 220ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  li:hover > .drop-menu.menu-2 .drop-menu-item:nth-child(5) {
    animation-name: menu2;
    animation-duration: 300ms;
    animation-delay: 350ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    margin-top: -1px;
  }
  li:hover > .drop-menu.menu-2 .drop-menu-item:nth-child(6) {
    animation-name: menu2;
    animation-duration: 300ms;
    animation-delay: 480ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  
  @keyframes menu2 {
    0% {
      opacity: 0;
      transform: rotateX(-90deg);
    }
    100% {
      opacity: 1;
      transform: rotateX(0deg);
    }
  }

  .navbar .nav-link{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
  }
  .navbar .drop-menu .nav-link{
    font-size: 14px !important;
  }

  .drop-menu .drop-menu-item:hover .nav-link{ color: white; }

  .drop-menu .drop-menu-item:hover{ background-color: var(--hover); }











