.product-section .product-body {
    margin-bottom: 20px;
}
.product-section .left-side {
    padding-left: 0;
}
.product-section .right-side{
    padding-right: 0;
}
/* categories */
.product-section .category-menu {
    border: 1px solid lightgray;
    padding: 10px;
}
.product-section .category-menu .title {
    background: #f4f4f4;
    padding: 2px 5px;
}
.product-section .category-menu .title span {
    font-weight: 800;
    font-size: 20px;
    font-style: italic;
}
.product-section .category-menu .title .icon {
    float: right;
    margin-top: 4px;
    cursor: pointer;
    background-color: var(--primary);
    color: white;
    padding: 0px 9px;
    margin-right: 1px;
    border-radius: 4px;
    transition: 0.5s;
}
.product-section .rotate-icon .icon i{
    transition: 0.5s;
}
.product-section .rotate-icon .icon i{
    transform: rotate(-90deg);
}
.product-section .category-menu{
    margin-top: 15px;
}
.product-section .category-menu .category-item {
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
    transition: 0.4s;
}
.product-section .category-menu .category-item:hover{
    border-color: var(--hover);
}
.product-section .category-menu .category-item:last-child{
    border-bottom: none;
}
.product-section .category-menu .category-item .img {
    width: 50px;
    height: 50px;
    transform: scale(1);
    transition: 0.4s;
    overflow: hidden;
}
.product-section .category-menu .category-item:hover .img{
    transform: scale(1.1);
}
.product-section .category-menu .category-item span {
    font-weight: 600;
    margin-left: 5px;
    font-size: 15px;
    text-transform: uppercase;
    transition: 0.4s;
}
.product-section .category-menu .category-item:hover span {
    color: var(--hover);
}
/* products */
.product-section .product-menu {
    margin: 30px 0 15px 0;
}
.product-section .product-menu .title span{
    font-weight: 800;
    font-size: 20px;
    font-style: italic;
}
.product-section .product-menu .product-item {
    display: flex;
    align-items: center;
    justify-content: start;
    border: 1px solid lightgray;
    padding: 10px;
    margin-bottom: 15px;
}
.product-section .product-menu .product-item .img {
    width: 38%;
    height: 100px;
    transform: scale(1);
    transition: 0.4s;
    overflow: hidden;
}
.product-section .product-menu .product-item:hover .img {
    transform: scale(1.1);
}
.product-section .product-menu .product-item .name {
    width: 60%;
    font-size: 14px;
    margin-left: 2%;
    transition: 0.4s;
}
.product-section .product-menu .product-item:hover .name{
    color: var(--primary);
    text-decoration: underline;
}

/* product items */
.product-section .item {
    border: 1px solid lightgray;
    margin: 0px;
    border-radius: 4px;
    text-align: center;
    transition: 0.5s;
    overflow: hidden;
}
.product-section .item:hover{
    border: 1px solid var(--hover);
}
.product-section .item .img {
    padding: 5px 10px;
    width: 100%;
    height: 215px;
}
.product-section .item .text{
    background-color: transparent;
    transition: 0.6s;
    height: 118px;
    position: relative;
}
.product-section .item .text-body{
    transition: 0.5s;
}
.product-section .item .text-body{
    position: absolute;
    bottom: -45px;
    left: 0;
    padding-top: 5px;
    z-index: 99;
    transition: 0.5s;
}
.product-section .item:hover .text-body{
    bottom: 0;
    z-index: 99;
    background: var(--hover);
}
.product-section .item:hover .text .name{
    color: white;
}
.product-section .item .text .name {
    font-weight: 700;
    font-size: 16px;
    line-height: initial;
    padding: 0px 10px 0px 10px;
    transition: 0.5s;
}
.product-section .item:hover .text .short-description{
    color: white;
}
.product-section .item .text .short-description {
    line-height: initial;
    font-size: 14px;
    margin: 5px 0;
    padding: 5px 10px;
    transition: 0.5s;
}
.product-section .item .text .view-more {
    padding: 5px 0;
    width: 100%;
    background: lightgray;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s;
}
.product-section .item:hover .text .view-more{
    background-color: var(--hover);
    color: white;
}
.product-section .item .text .view-more i {
    margin-left: 4px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    background: var(--primary);
    font-size: 14px;
    color: white;
    transition: 0.5s;
}
.product-section .item:hover .text .view-more i{
    background: var(--white);
    color: var(--hover);
} 
.product-section .slick-arrow.left-arrow {
    left: -55px;
}
.product-section .slick-arrow.right-arrow {
    right: -55px;
}