/* BANNER SECTION */
.banner-section .banner-content .img{
    height: 480px;
    overflow: hidden;
}



/* ABOUT US SECTION */
.about-section .item{
    position: relative;
    overflow: hidden;
    transition: 0.6s;
}
.about-section .item .text{
    position: absolute;
    bottom: 0;
    left: 30px;
    z-index: 9;
    font-style: italic;
    font-weight: 800;
    font-size: 30px;
    color: var(--white);
}
.about-section .left-side .item .img {
    width: 100%;
    height: 484px;
    overflow: hidden;
}
.about-section .right-side .item .img {
    width: 100%;
    height: 230px;
    overflow: hidden;
}
.about-section .item .img{
    border-radius: 4px;
}
.about-section .right-side .item {
    margin-bottom: 15px;
}
.about-section .item .img img{
    transform: scale(1);
    transition: 0.6s;
}
.about-section .item:hover .img img{
    transform: scale(1.1);
}
.about-section .item .text{
    transition: 0.6s;
}
.about-section .item:hover .text{
    color: var(--hover);
}
/* ABOUT US SECTION END */


/* SERVICE SECTION */
.service-section .item .text {
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%, 0%);
    color: var(--primary);
    transition: 0.4s;
}
.service-section .item .text{
    color: var(--text);
}
.service-section .item:hover .text{
    color: var(--white);
}
.service-section .item{
    position: relative;
    transition: 0.4s;
}
.service-section .item .img {
    padding: 10px 10px 25px 10px;
    background: lightgray;
    transition: 0.4s;
}
.service-section .item:hover .img {
    background: var(--hover);
}
.service-section .item .img .img-body{
    background-color: white;
}
/* SERVICE SECTION END */


/* NEW ARRIVAL SECTION */
.new-arrival-section .item {
    border: 1px solid lightgray;
    margin: 0 10px;
    border-radius: 4px;
    text-align: center;
    transition: 0.5s;
}
.new-arrival-section .item:hover{
    border: 1px solid var(--hover);
}
.new-arrival-section .item .img {
    padding: 5px 10px;
    width: 100%;
    height: 215px;
}
.new-arrival-section .item .text{
    background-color: transparent;
    transition: 0.6s;
    height: 118px;
    position: relative;
}
.new-arrival-section .item .text-body{
    transition: 0.5s;
}
.new-arrival-section .item .text-body{
    position: absolute;
    bottom: -45px;
    left: 0;
    padding-top: 5px;
    z-index: 99;
    transition: 0.5s;
}
.new-arrival-section .item:hover .text-body{
    bottom: 0;
    z-index: 99;
    background: var(--hover);
}
.new-arrival-section .item:hover .text .name{
    color: white;
}
.new-arrival-section .item .text .name {
    font-weight: 700;
    font-size: 16px;
    line-height: initial;
    padding: 0px 10px 0px 10px;
    transition: 0.5s;
}
.new-arrival-section .item:hover .text .short-description{
    color: white;
}
.new-arrival-section .item .text .short-description {
    line-height: initial;
    font-size: 14px;
    margin: 5px 0;
    padding: 5px 10px;
    transition: 0.5s;
}
.new-arrival-section .item .text .view-more {
    padding: 5px 0;
    width: 100%;
    background: lightgray;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s;
}
.new-arrival-section .item:hover .text .view-more{
    background-color: var(--black);
    color: white;
}
.new-arrival-section .item .text .view-more i {
    margin-left: 4px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    background: var(--primary);
    font-size: 14px;
    color: white;
    transition: 0.5s;
}
.new-arrival-section .item:hover .text .view-more i{
    background: var(--white);
    color: var(--hover);
} 
.new-arrival-section .slick-arrow.left-arrow {
    left: -55px;
}
.new-arrival-section .slick-arrow.right-arrow {
    right: -55px;
}

/* NEW ARRIVAL SECTION END */


/* NEWS SECTION */
.news-section .item {
    border: 1px solid transparent;
    margin: 0 15px;
    border-radius: 4px;
    transition: 0.5s;
    position: relative;
}
.news-section .item .page-date {
    position: absolute;
    top: -25px;
    left: 25px;
    background-color: var(--primary);
    color: white;
    border-radius: 4px;
    padding: 2px 10px;
    font-weight: 700;
    transition: 0.5s;
}
.news-section .item:hover .page-date{
    background-color: var(--hover);
    color: white;
}
.news-section .item:hover{
    box-shadow: var(--shadow);
}
.news-section .item .img {
    padding: 5px 0px;
    width: 100%;
    height: 215px;
    overflow: hidden;
}
.news-section .item .img img{
    transform: scale(1);
    transition: 0.5s;
} 
.news-section .item:hover .img img{
    transform: scale(1.1);
} 
.news-section .item .text {
    background-color: transparent;
    transition: 0.6s;
    position: relative;
    padding: 10px 15px 15px 15px;
}
.news-section .item .text .name {
    font-weight: 700;
    font-size: 18px;
    line-height: initial;
    padding: 0px 10px 0px 10px;
    transition: 0.5s;
}
.news-section .item .text .name:hover{
    color: var(--hover);
}
.news-section .item .text .short-description {
    line-height: initial;
    font-size: 15px;
    margin: 5px 0;
    padding: 5px 10px;
    transition: 0.5s;
}
.news-section .item .text .view-more {
    padding: 5px 10px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s;
}
.news-section .item .text .view-more i {
    margin-right: 4px;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    line-height: 30px;
    text-align: center;
    background: var(--primary);
    font-size: 14px;
    color: white;
    transition: 0.5s;
}
.news-section .item:hover .text .view-more i{
    background: var(--hover);
}
/* NEWS SECTION END */


/* VIDEO SECTION START */
.video-section .item {
    width: 100%;
    padding: 15px;
}
.video-section .item .img-body{
    position: relative;
}
.video-section .item .play {
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: rgba(51, 51, 51, 0.1);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}
.video-section .item .play i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary);
    color: white;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    transition: 0.5s;
}
.video-section .item:hover .play i{
    background-color: var(--hover);
}
.video-section .item .text {
    font-size: 18px;
    font-weight: 700;
    transition: 0.5s;
    margin-top: 10px;
}
.video-section .item:hover .text{
    color: var(--hover);
}
/* VIDEO SECTION END */


/* TEAM SECTION START */
.team-section .item {
    width: 100%;
    padding: 30px;
    transition: 0.5s;
}
.team-section .item .img-body {
    position: relative;
    overflow: hidden;
}
.team-section .item .img-body .img{
    overflow: hidden;
    height: 250px;
}
.team-section .item .play {
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}
.team-section .item .play i{
    position: absolute;
    top: 0%;
    right: 0%;
    background-color: var(--primary);
    color: white;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    display: none;
    transition: 0.5s;
}
.team-section .item:hover .play i{
    display: block;
    background-color: var(--hover);
}
.team-section .item .text {
    font-size: 18px;
    font-weight: 700;
    transition: 0.5s;
    margin-top: 10px;
}
.team-section .item .text .designation{
    font-weight: 400 !important;
}
.team-section .item:hover .text{
    color: var(--hover);
}
.team-section .slick-arrow.left-arrow {
    left: -55px;
}
.team-section .slick-arrow.right-arrow {
    right: -55px;
}
/* TEAM SECTION END */


/* FOOTER SECTION START */
/*======================================
		FOOTER CSS START
======================================*/
footer{
    padding-top: 30px;
	margin: 0px 0;
    background-color: var(--text);
    color: white;
}
.footer .footer-title{
	margin-bottom: 15px;
}
.footer .footer-title h5 {
    font-size: 20px;
    font-weight: 600;
}
.footer .company-name {
    font-size: 20px;
    font-weight: 600;
    width: 75%;
    margin-right: 4%;
}
.footer .barcode{
    width: 20%;
}
.footer .quick-links {
    padding-left: 50px;
}
.footer .my-account {
    padding-left: 50px;
}
.footer ul li{
	line-height: 25px;
}
.footer ul li a{
	transition: 0.5s;
    color: rgba(255, 255, 255, 0.7);
    font-size: 13px;
}
.footer ul li a:hover{
	color: var(--hover);
	margin-left: 5px;
	font-weight: 600;
}
.footer .left .footer-logo .img{
	width: 200px;
}
.footer .left .footer-logo .img img{
	height: 100%;
	width: 100%;
}
.footer .left span{
	font-family: 'Lato' , sans-serif;
	opacity: 0.6;
	font-weight: 600;
}
.footer .left .address{
	margin: 10px 0 15px 0;
}
.footer .left p {
    opacity: 1;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}
.footer .left .icon i{
	font-size: 16px;
    cursor: pointer;
}
.footer .right .play-store{
    margin: 10px 0;
}
.footer .right .play-store .img{
	border: 1px solid #a1cae2;
	border-radius: 7px;
	margin-right: 8px;
	overflow: hidden;
	cursor: pointer;
	transition: 0.6s;
}
.footer .right .play-store .img:hover{
	border: 1px solid var(--hover);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
}
.footer .right .payment-getway{
	margin: 20px 0;
}

/* <!-- GO TO PAGE LINK --> */
.footer .page-links {
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
}
.footer .page-links .item {
    color: white;
    font-weight: 600;
    position: relative;
    transition: 0.4s;
}
.footer .page-links .item:hover{
    color: var(--hover);
}
.footer .page-links .item::after {
    content: '';
    position: absolute;
    right: -65px;
    top: 12px;
    background-color: rgba(255, 255, 255, 0.2);
    height: 6px;
    width: 6px;
    transform: rotate(45deg);
}
.footer .page-links .item:last-child::after {
    display: none;
}
.footer .social .social-item {
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 3px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}
.footer .social .social-item i{
    font-size: 14px;
}
.footer .social .social-item:hover{
    background-color: var(--hover) !important;
}
.footer .social .social-item:hover i{
    color: white !important;
}
/*======================================
		FOOTER CSS END
======================================*/
/*======================================
		COPYRIGHT CSS START
======================================*/
.copyright{
	padding: 10px 0;
}
.copyright .container{
	position: relative;
}
.copyright .copyright-body a{
	color: var(--white);
}
.copyright .copyright-body a:hover{
    text-decoration: underline;
}
.copyright .copyright-body {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 14px;
}
/*======================================
		COPYRIGHT CSS END
======================================*/