/*--------------- ROOT VARIABLE ----------------*/
:root {
    --primary: #005771;
    --secondary: #005771;
    --hover:  #005771;
    --shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    --text: #333;
    --gray: #808080;
    --pfamily: 'Open Sans', sans-serif;
    --sfamily: 'Questrial', sans-serif;
}


/*--------------- PRIMARY COLOR ----------------*/
.scroll::-webkit-scrollbar-thumb{
	background-color: var(--primary);
}


/*-------------- SECONDARY COLOR ---------------*/



/*---------------- HOVER COLOR -----------------*/
a:hover {color: var(--hover) !important;}



/*---------------- SHADOW COLOR ----------------*/
.form-control:focus { box-shadow: var(--shadow); }


/*----------------- TEXT COLOR -----------------*/



/*----------------- GRAY COLOR -----------------*/



/*---------------- PRIMARY FONT ----------------*/



/*--------------- SECONDARY FONT ---------------*/
